{% use 'form_div_layout.html.twig' %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <p class="text-red-600 text-sm mt-1">{{ error.message }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block widget_attributes %}
    {% set attr = attr|merge({ class: (attr.class|default('')) ~ (errors|length > 0 ? ' !border-red-500 !ring-red-500' : '') }) %}
    {{ parent() }}
{% endblock %}
